.contact {
  padding-top: 150px;
  background-color: #f4f8f9;
}
.title-contact {
  font-size: 64px;
  text-align: center;
  font-weight: 800;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-bottom: 70px;
}
.wrapper-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-contact-text {
  max-width: 555px;
}
.text-contact {
  font-size: 20px;
  font-family: "Mplus 1p";
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.6;
  text-align: left;
  margin-bottom: 50px;
}
.wrapper-contact-list {
  margin-bottom: 50px;
  display: flex;
}
.contact-paragraf-wrapper {
  
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 1.2;
  margin-right: 60px;
  & p {
    margin-bottom: 35px;
  }
}
